@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Poetsen+One&display=swaphttps://fonts.googleapis.com/css2?family=Briem+Hand:wght@100..900&family=Cookie&family=Poetsen+One&display=swap");
body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  font-family: 'Poetsen One', sans-serif;
}

h1 {
  position: absolute;
  top: 20%;
  transform: translateX(-50%);
  font-size: 4rem;
  color: #fefefe;
  cursor: default;
  white-space: nowrap;
}

.btn-home {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translateX(-50%);
  text-decoration: none;
  color: #fefefe;
  font-size: 1.5rem;
  border: 1px solid #fefefe;
  width: 15rem;
  padding: 1.2rem;
  text-align: center;
  cursor: pointer;
}

.btn-home:hover {
  background-color: rgba(200, 200, 200, 0.7);
  color: #333333;
  border-color: #333333;
}
.container-register, .container-login {
  margin-top: -50px;
}
.menu {
  margin: 50px;
  margin-top: 90px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 50px;
  background-color: #212529;
}

.calendrier, .tableau, .depense, .budget {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 25px;
}
.calendrierMenu {
  background-image: url("https://i.pinimg.com/564x/67/18/22/671822c2f63dd5f65d8fd15c9710420b.jpg");
}
.tableau {
  background-image: url("https://i.pinimg.com/564x/3f/ef/1a/3fef1ae7291bfd21bbcf415652a65466.jpg");
}
.depenseMenu {
  background-image: url("https://i.pinimg.com/564x/71/2c/9f/712c9f40792b851a4ffce5a13fbc3130.jpg");
}
.budget {
  background-image: url("https://i.pinimg.com/564x/3b/6c/d4/3b6cd46f0d6997d414b5b7128d0ba91b.jpg");
}
.custom-padding {
  padding: 9rem !important;
}
.rounded-custom {
  border-radius: 15px; 
}
.custom-padding-menu {
  padding: 25rem !important; 
}
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-name {
  font-size: 1rem;
  font-weight: normal;
}
